<html>
<head>
  <title>Wode.AI</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>

  <div class="jumbotron">
    <div class="container text-center">
      <h1>Sorry, we are too hot!</h1>
      <p>
        All IPython Notebooks are in use right now! We are adding more capacity.
      </p>
      <p>
        Increasing capacity usually takes no more than 5 minutes.
      </p>
    </div>
  </div>

  {% include "ga.html" %}

  <script type="text/javascript">
    // Try again in a minute.
    setTimeout(function () {
      window.location.reload();
  }, {{ cull_period * 1e3 }})
  </script>
</body>
</html>
